@model IEnumerable<Biblioteca.Modelos.VariablesUsuarios>

@{
    ViewData["Title"] = "Lista De Usuarios";
}

<br>

<h1 style="text-align: center"> Lista de usuarios</h1>

<br>

<div>
    <a asp-action="CrearUsuario" asp-controller="Usuarios" class="btn btn-primary">Crear Usuario</a>
</div>

<br>

<form asp-action="RegistroDeUsuarios" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por Nombre o Apellido de Usuario: <input type="text" name="Buscar" value="@ViewData["Buscar"]" />
            <input type="submit" value="Buscar" class="btn btn-success" /> |
            <a class="btn btn-success" asp-action="RegistroDeUsuarios">Volver a la Lista Completa</a>
        </p>
    </div>
</form>

<br>

<table>
    <thead>
        <tr>
            <th>
                Nombre del usuario:
            </th>
            <th>
                Apellido del usuario:
            </th>
            <th>
                Teléfono del usuario:
            </th>
            <th>
                DUI del usuario:
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Nombre)</td>
                <td>@Html.DisplayFor(m => item.Apellido)</td>
                <td>@Html.DisplayFor(m => item.Teléfono)</td>
                <td>@Html.DisplayFor(m => item.DUI)</td>
                <td>
                    <a class="btn btn-primary" asp-action="DetallesUsuario" asp-route-id="@item.ID">Detalles</a>
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="ModificarUsuario" asp-route-id="@item.ID">Modificar</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="EliminarUsuario" asp-route-id="@item.ID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>